body{color:white;background-color:black;font-size:1.1em;line-height:2.4em;font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;max-width:45em;margin:auto;padding:0 2%}img{max-width:100%;display:block;margin:.75em auto}
